.loginOverlay {
    background: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    @extend %standard-transition;
    visibility: hidden;
    opacity: 0;
    &.show {
        visibility: visible;
        opacity: 1;
    }
}

.loginOverlay__btnBack {
    position: absolute;
    top: 35px;
    left: 35px;
    img {
        display: flex;
        margin: 3px 10px 0 0;
    }
}

.loginOverlay__wrapperGlobal {
    width: 475px;
    display: block;
    margin: 0 auto;
}

.loginOverlay__title {
    margin-top: 120px;
    color: #6F6F6F;
    font-family: 'Lato';
    font-size: 38px;
    font-weight: bold;
}

.loginOverlay__wrapper {
    margin-top: 30px;
    background: #FAFAFA;
    padding: 0 70px 45px 70px; 
}

.loginOverlay__logoPCU {
    margin: 0 auto;
    display: block;
    width: 206px;
    height: 206px;
    margin-bottom: 20px;
}

.loginOverlay__form {
    label {
        display: block;
        width: 100%;
        color: #6F6F6F;
        font-family: 'Lato';
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 12px;
        font-weight: 100;
    }
    input {
        display: block;
        width: 100%;
        border: 1px solid #E4E1E1;
        border-radius: 5px;
        background-color: #FFFFFF;
        line-height: 48px;
        min-height: 51px;
        padding: 0 20px;
    }
    input[type="submit"] {
        width: auto;
        margin: 40px auto 0 auto;
    }
    input + label {
        margin-top: 35px;
    }
}

.loginOverlay__forgotPassword {
   color: #00537A;
   font-family: 'Lato';
   font-size: 16px;
   line-height: 19px;
   margin-top: 10px;
   display: block;
}