broker.id=0

num.network.threads=3
num.io.threads=8

socket.send.buffer.bytes=102400
socket.receive.buffer.bytes=102400
socket.request.max.bytes=104857600

log.dirs=/tmp/kafka-logs

num.partitions=1
num.recovery.threads.per.data.dir=1

offsets.topic.replication.factor=1

transaction.state.log.replication.factor=1
transaction.state.log.min.isr=1

log.retention.hours=168
log.segment.bytes=1073741824
log.retention.check.interval.ms=300000

#zookeeper.connect=10.1.13.87:2181
zookeeper.connect=
{%- for zoo in servers_zookeeper %}
{{ hostvars[zoo].ansible_host }}:2181{% if not loop.last %},{% endif %}
{%- endfor %}

zookeeper.connection.timeout.ms=6000

group.initial.rebalance.delay.ms=0
