.btn {
    border-radius: 5px;
    text-transform: uppercase;
    @extend %standard-transition;
    border: none;
    font-weight: bold;
    display: flex;
}

.btn--small {
    @extend .btn;
    padding: 13px 24px;
}

.btn.green {
    background-color: #7EC455;
    color: white;
    &:hover, &:active, &:focus {
        background-color: lighten(#7EC455, 7%);
    }
}

select.selectSortFilter {
    background: none;
    border: none;
    color: #5C5C5C;
    font-family: 'Lato';
    font-size: 14px;
    line-height: 17px;
}

.searchBar__toggleFooter {
    width: 58px;
    height: 50px;
    margin: auto 0;
    line-height: 0;
    background: none;
    border: none;
    border-radius: 5px;
    display: none;
    img.suppr { margin: 0 4px; }
    &.openFooter {
        img.burger { display: inline; }
        img.suppr { display: none; }
    }
    &.closeFooter {
        img.burger { display: none; }
        img.suppr { display: inline; }
    }
    &:focus {
        outline: none;
    }
}

/* MOBILE */

@media screen and (max-width: 1280px) {

    .searchBar__toggleFooter {
        display: block;
    }

    .btnLogin {
        background: none;
        min-width: 0;
        height: 50px;
        width: 50px;
        line-height: 50px;
        span {
            display: none;
        }
        img {
            width: 22px;
            height: auto;
            margin: 0;
        }
        &:hover, &:focus, &:active {
            background: none;
        }
    }
}

