.testblue {
    color: blue;
}

body {
    margin: 0;
}

.app, .appWrapper {
    min-height: calc(100vh);
}

/* FOOTER */

div.footer {
   background: #FAFAFA;
   height: 55px;
}

.footer__wrapper {
   display: flex;
   height: 100%;
}

ul.footer__list {
   display: flex;
   margin-bottom: 0;
   height: 100%;
   padding-left: 100px;
}

ul.footer__list li {
   display: flex;
   margin: auto 60px auto 0;
   list-style: none;
}

ul.footer__list li a {
   color: #5C5C5C;
   font-family: 'Lato';
   font-size: 14px;
   line-height: 17px;
}

/* Search Bar & Menu */

.resultsNumbers {
   color: #5C5C5C;
   font-family: 'Lato';
   font-size: 13px;
   line-height: 16px;
   padding-left: 20px;
   display: block;
   width: 100%;
   & + .resultsItem {
        margin-top: 10px;
   }
}

.searchBar__wrapperSearch {
   display: flex;
   width: 100%;
   background: #00537A;
   height: 51px;
   // height: 155px;
   color: white;
}

.searchBar__wrapperSearch--large {
    @extend .searchBar__wrapperSearch;
    height: 155px;

    .searchBar__menuList { display: none; }
    .searchBar__loginArea { display: flex; }
    .searchBar__bar input { min-height: 51px; line-height: 48px; border: 1px solid #E4E1E1; border-radius: 5px; background-color: #FFFFFF; }
    .searchBar__logo img { width: 60px; margin: auto 10px auto 20px; }
}


.searchBar__bar {
   display: flex;
   height: 51px;
   margin: auto 0;
   position: relative;
   button {
       position: absolute;
       right: 10px;
       background: none;
       border: none;
       height: 52px;
       width: 40px;
       &:focus {
           outline: none;
       }
       img {
           width: 75%;
           height: auto;
       }
   }
   button + button {
       right: 50px;
       img {
           width: 80%;
       }
   }
}

.cancelSearchBtn {
    visibility: hidden;
    opacity: 0;
    @extend %standard-transition;
    &.show {
        visibility: visible;
        opacity: 1;
    }
}

.searchBar__bar input {
   margin: auto;
   border-radius: 5px;
   border: 1px solid #E4E1E1;
   min-width: 425px;
   padding: 1px 10px;
   line-height: 26px;
   min-height: 30px;
   color: black;
}

.searchBar__bar--large input {
    line-height: 47px;
    min-height: 51px;
}

.searchBar__menuList {
   display: flex;
   width: 100%;
   justify-content: flex-end;
   padding-right: 25px;
}

.searchBar__menuList ul {
   display: flex;
   color: white;
   margin: 0;
}

.searchBar__menuList ul li {
   margin: auto 10px;
   list-style: none;
}

.searchBar__menuList ul li a {
   color: white;
   font-weight: bold;
}

.searchBar__logo {
   display: flex;
   min-width: 100px;
}

.searchBar__logo img {
   width: 45px;
   height: auto;
   margin: auto 20px auto 20px;
   display: flex;
}

.searchBar__searchFilter {
   background: #FAFAFA;
   padding-left: 80px;
   width: 100%;
   display: flex;
}

.searchBar__searchFilter__wrapper {
    width: 50%;
    display: flex;
}

.selectSortFilter__wrapper {
    display: flex;
    margin-right: 0;
    margin-left: auto;
    & > div {
        display: flex;
        & > * {
            margin: auto;
            &:focus {
                outline: none;
            }
        }
    }
}

.searchBar__searchFilter ul {
   display: flex;
   padding: 20px 20px 0px 20px;
   margin-bottom: 0;
}

.searchBar__searchFilter ul li {
   list-style: none;
   display: flex;
   margin-right: 30px;
   color: #6F6F6F;
   font-family: 'Lato';
   font-size: 14px;
   font-weight: bold;
   line-height: 19px;
   padding-bottom: 20px;
   position: relative;
   cursor: pointer;
}

.searchBar__searchFilter ul li:after {
   content: "";
   display: block;
   width: 100%;
   bottom: 0;
   background-color: #7EC455;
   height: 5px;
   position: absolute;
   @extend %standard-transition;
   opacity: 0;
}

.searchBar__searchFilter ul li:hover:after {
   opacity: 1;
}

.searchBar__loginArea {
    display: flex;
    padding: 20px;
    display: none;
    margin: auto 0 auto auto;
}

.btnLogin {
    height: 45px;
    min-width: 120px;
    border-radius: 5px;
    background-color: #7EC455;
    color: white;
    text-transform: uppercase;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: bold;
    border: none;
    @extend %standard-transition;
    display: flex;
    justify-content: center;
    margin: auto;

    img {
        margin: -2px 9px auto 0;
    }

    &:hover, &:active, &:focus {
        background-color: rgb(147, 211, 107);
    }
}

/* RESULTS DISPLAY */

.results {
   padding-left: 80px;
   display: flex;
   flex-wrap: wrap;
   padding-top: 0;
}

.results__colLeft,
.results__colRight {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    padding-top: 25px;
}

.resultsItem {
   padding: 15px 20px;
   max-width: 100%;
}

.resultsItem__title, .resultsItem__title a {
   color: #00537A;
   font-family: 'Lato';
   font-size: 14px;
   line-height: 19px;
}

.resultsItem__date {
    color: #5C5C5C;
}

.resultsItem__description {
   margin-top: 9px;
   color: #6F6F6F;
   font-family: 'Lato';
   font-size: 14px;
   line-height: 19px;
   cursor: pointer;
}

.resultsItem__extraInformations {
   margin-top: 10px;
   color: #44722A;
   font-family: 'Lato';
   font-size: 14px;
   line-height: 17px;
   word-wrap:break-word;
}

.resultsItem__extraInformations > span {
   display: inline;
}

.resultsItem__filtersMenu, .resultsItem__filtersMenu a {
   margin-top: 10px;
   color: #00537A;
   font-family: Lato;
   font-size: 14px;
   line-height: 17px;
   span:hover, a:hover {
       text-decoration: underline;
       cursor: pointer;
   }
}

// Content of col right

.colRight__wrapper {
    padding-top: 25px;
    margin-top: -25px;
    border-left: 1px solid #E9E9E9;
    padding: 30px;
    position: relative;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    @extend %standard-transition;
    &.show {
        visibility: visible;
        opacity: 1;
    }
}

.document__title {
    color: #5C5C5C;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
}

.closeDocumentBtn {
    background: none;
    border: none;
    position: absolute;
    top: 25px;
    right: 25px;
    width: 45px;
    height: 25px;
    &:focus {
        outline: none;
    }
    img {
        width: 65%;
    }
}

.document__content {
    border: 1px solid #979797;
    width: 80%;
    margin: 30px auto 0 auto;
    display: block;
    img {
        width: 100%;
        height: auto;
    }
}