.cardText {
    color: #8bc34a ;
    font-size: 36px;
}
.cardSmallText{
    color: #8bc34a ;
    font-size: 18px;
}
#logo {
    display:table-cell;
    vertical-align:middle;
    
}
#logo img {
    max-height:100%;
    max-width:100%;
}

.card_use_case {
    border: 0px ;
}

.circle_use_case {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #00517c;
    border-radius: 50%;
    vertical-align: middle;
    border: 5px solid #8bc34a;
    margin-left:10%;
    margin-top:10%;
    padding:10px;
    width:50%
}
circle_use_case:before {
  content:'';
  float: left;
  width: auto;
  padding-bottom: 100%;
}
.card_use_case img {
    height: 64px;
    width: 64px;
}
img {
    vertical-align: middle;
}
.circle_use_case * {
    margin: auto;
}
