
.main_container{
    background-color: rgba(0, 0, 0, 0.66);
}
.main_container div {
    border: 0px solid rgba(0, 0, 0, .125)
}

.cardText {
    color: #8bc34a ;
    font-size: 36px;
}
.cardSmallText{
    color: #8bc34a ;
    font-size: 18px;
}
#logo {
    display:table-cell;
    vertical-align:middle;
    
}
#logo img {
    max-height:100%;
    max-width:100%;
}


img {
    vertical-align: middle;
}
.circle_use_case * {
    margin: auto;
}

@media only screen and (max-width: 768px) {
    .imgResponsive { 
        height:300px; 
    }
}
@media only screen and (min-width: 500px) {
    .imgResponsive { 
        height:750px; 
    }
}